
/* Elements principaux de la page */  

body {

font-family: Raleway, sans-serif;
max-width:90rem;
margin:auto;
font-size: 100%;

}

/* HEADER */

/* TOP HEADER */

header {

box-sizing: content-box;
margin: auto;
padding: 1.25rem;

}

#top_header {

display: grid;
grid-template-columns: auto 16rem 7rem;
grid-template-rows: 1fr 2.2fr;
grid-template-areas: "img navbar button";
align-items: center;

}

#logo {
grid-area: img;
}

nav {
grid-area: navbar;   
}

nav a {
margin-left: 1.5rem;
padding-top: 1rem;
}

nav a:hover {
color:#0065FC;
border-top: 2px solid #0065FC;
}

#SignUp {
    
grid-area: button;

font-weight:bold;
font-size:1.1rem;
color:#0065FC;
    
}

h1 {
font-size: 1.5rem;
}

/* BOTTOM HEADER */

form {

display:flex;
flex-wrap: wrap;
overflow: auto; /* on empeche le contenu texte de sortir du bloc si y'a trop de texte (genre une ville avec un nom à rallonge) */

}

#map_marker {
    
background-color: #F2F2F2;
padding: 1rem 1.25rem; /* on crée de l'espace entre le map_marker et son bloc conteneur de couleur gris */
border-radius: 1rem 0 0 1rem;

}

#ville {
    
border-right: none;
border-left: none;
border: #F2F2F2 0.06rem solid;
font-size:1rem;
padding: 1rem 1.5rem;
box-sizing: border-box; 
   
}

#bouton {
    
background-color: #0065FC;
color: white;
font-weight: bold;
border: none;
border-radius: 0 1rem 1rem 0;
font-size: 1rem;
    
}

#bouton_txt {
padding-left:1rem;
}

#Filtres {

display:flex; 
margin-top:1.5rem;
flex-wrap: wrap; /* permettre aux filtres de se placer en dessous quand ils dépassent la largeur de leur conteneur */

}
    
#titre_filtres {

margin-right:1rem;
font-weight:bold;
font-size:1.1rem;
margin-top:1.2rem;

}

.bloc {

display:flex; 
align-items: center; /* on aligne verticalement le texte avec l'icone */
margin-right: 2rem;
border: 0.13rem solid #d9d9d9;
border-radius: 2rem;
margin-bottom: 1rem;    
font-weight: bold;
max-height:3.5rem; /* empecher div de grossir quand on zoom */
min-height:3rem; /* empecher div de se réduire quand on zoom */

}

.bloc:hover {
background-color:#f3f8ff;
}
    
.circle {
  
background-color: #DEEBFF;
border-radius: 2rem;

height: 3.5rem; /* 3rem */
width: 3.5rem; /* 2.85 rem */

/*min-height: 3.5rem; /* empecher cercle de rétrécir en hauteur */
/*min-width: 3.5rem; /* empecher cercle de rétrécir en largeur */

display: flex; /* on rend le cercle flex pour pouvoir se servir d'align-items et justify-content pour centrer l'icone à l'intérieur*/
align-items: center;
justify-content: center;

}

i {
color:#0065FC;
}

.txt {

padding:1.3rem;
font-size:1.1rem;
white-space: nowrap; /* empeche le retour à la ligne d'un texte */

}

#Infos {

display:flex;
align-items:center; /* on les centre verticalement dans la div */

}

#circle2 {

font-size: 0.75rem;
max-width: 1.5rem;
max-height: 1.5rem;
min-width: 1.5rem;
min-height: 1.5rem;
line-height: 1.5rem;
text-align: center;
border: 2px solid #d6d4d4;
border-radius: 50%;
margin-right:1rem;

}


/* SECTION 1*/

#hosting {

display: flex;
gap:2rem;
box-sizing: border-box;

}

/* ARTICLE */

article {

background-color: #F2F2F2;
border-radius: 1.5rem;
padding: 0 2rem 0 2rem;;
    
display: grid;
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: 4rem 14rem 14rem 5.5rem;
grid-template-areas:
        "titre titre ."
        "bloc1 bloc2 bloc3"
        "bloc4 bloc5 bloc6"
        "more . .";

gap: 2rem;
justify-items: center;
align-items: center;

box-sizing: border-box;
width: 100%;
height: 100%;
margin-bottom:1rem;

}

#titre_article {

grid-area: titre;
align-self: start;
justify-self: start;

}

.bloc_article {

background-color: white;
padding: 0.375rem;
border-radius: 1.25rem;
box-shadow: 0 0 1rem #0000002e;
box-sizing: border-box; /* la taille du bloc prend en compte les border, margin, et padding, si height élément = 100%, alors élément+border+margin+padding =100% avec box-sizing */
height: 100%; 
width:100%;

}

#bloc_article1 {
grid-area: bloc1;
}

#bloc_article2 {
grid-area: bloc2;
}

#bloc_article3 {
grid-area: bloc3;
}

#bloc_article4 {
grid-area: bloc4;
}

#bloc_article5 {
grid-area: bloc5;
}

#bloc_article6 {
grid-area: bloc6;
}

#more {
grid-area:more;
font-weight:bold;
align-self: start; /* utile en version mobile */
justify-self: start;
}

.photo_article img {

width: 100%;
height: 8rem; 
border-radius: 1rem; 
object-fit: cover; /* on permet aux images de s'étendre à la bonne dimension, sans que le rendu visuel soit compressé */


}

.prix_article {

padding: 0.5rem 0 0.5rem 0.5rem;
line-height: 1.5rem;

}

/* ASIDE */


aside {

background-color: #F2F2F2;
border-radius: 1.5rem;
padding: 2rem;

display: grid;
grid-template-columns: 1fr;
grid-template-rows: 3rem repeat(3, 1fr); /* 3 rem pour le titre qui est grid */
grid-template-areas: "titre"
                     "bloc1"
                     "bloc2"
                     "bloc3";

align-items:center;
height:630px;

    
}

#titre_aside {

margin-bottom:2rem;
width: 100%;

display: flex;
justify-content:space-around;

grid-area: titre;
 
}

#icone_aside i {

color: black;
line-height:4.7rem;
font-size:1.2rem;

}

.bloc_aside {

background-color: white;
border-radius: 1.25rem;
box-shadow: 0 0 1rem #0000002e;
box-sizing: border-box;

display:flex; 
width: 100%;
height: 160px;
border: 5px solid white;
  
}

#bloc_aside1 {
grid-area: bloc1;
}

#bloc_aside2 {
grid-area: bloc2;
}

#bloc_aside3 {
grid-area: bloc3;
}


.photos_aside img {

border-radius: 1rem 0 0 1rem; 
width: 10rem; 
height: 100%;
object-fit: cover; /* on permet aux images de s'étendre à la bonne dimension, sans que le rendu visuel soit compressé */

}

.prix_aside {

width: 11rem;
padding: 0 1rem 0 1rem; 
     
}


/* SECTION 2 */

.section2 {
    
display:grid;
grid-template-columns: repeat(4, 1fr); /* on créé 4 fois une colonne de 1fr */
grid-template-areas: "titre . . ."
                     "bloc1 bloc2 bloc4 bloc5" 
                     "bloc1 bloc3 bloc4 bloc6"; 
column-gap: 2rem;
height:600px;

}

.section2 h2 {
grid-area: titre;
}

#bloc_activités1 {
grid-area: bloc1;
}

#bloc_activités2 {
grid-area: bloc2;
}

#bloc_activités3 {
grid-area: bloc3;
}

#bloc_activités4 {
grid-area: bloc4;
}

#bloc_activités5 {
grid-area: bloc5;
}

#bloc_activités6 {
grid-area: bloc6;
}

.image_longue {

border-radius: 1rem;
height: 460px;
box-shadow: 1px 1px 5px grey;
font-weight: bold;
text-align: center;

}

.image_longue img {

border-radius: 1rem 1rem 0 0;
width:100%;
height:400px;
object-fit: cover;
  
}

.image_courte {

border-radius: 1rem;
box-shadow: 1px 1px 5px grey;
height: 206px;
font-weight: bold;
text-align: center;

}

.image_courte img {

border-radius: 1rem 1rem 0 0;
width:100%;
height: 146px;
object-fit: cover;
  
}


/* Footer */

footer {

display:flex;
justify-content:space-evenly;
background-color:#F2F2F2;
border-radius:1.25rem;
padding: 1rem;

}

/* Couleurs et liens */

.i_color {
    color:black;  /* mettre nom de classe dans la balise de l'icone, juste après fa fa-star etc.. et entre les guillemets */
}


.i_color2 {
    color:#d9d9d9;
}

a {
    text-decoration: none;
    color:black;
}

/* MEDIA QUERIES */

/* TABLETTE */

@media screen and (min-width: 601px) and (max-width:1024px) {

    body {
    max-width:1024px;
    }

    /* HEADER */

    #top_header {
    grid-template-columns: auto 15rem 7rem;
    }

    #titre_header {
    margin-bottom:1rem;
    }
  
    #SignUp {
    margin-left: 1rem;
    }

    #Filtres {
    margin-top:0.5rem;
    }

    #titre_filtres {
    width:100%;
    }

    .bloc {
    margin-right: 1rem;
    height:3rem;
    }
    
    .circle {
    height: 3rem;
    width: 2.85rem;
    }
    
    #circle2 {
    margin-right:0.5rem;
    }

    /* SECTION 1 */

    #hosting {

    display:flex;
    flex-direction:column-reverse;
    padding:2rem;

    }

    .bloc_article {
    padding:0;
    height: 12rem;
    text-align: center;

    }

    .photo_article img {
    height:7rem;
    }

    article {

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem repeat(3, 12rem) 2rem;
    grid-template-areas:
            "titre titre"
            "bloc1 bloc2"
            "bloc3 bloc4"
            "bloc5 bloc6"
            "more .";

    margin-bottom:0;

    }

    .prix_article {
    padding:0;
    }

    aside {

    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas:
            ". titre ."
            " . bloc1 ."
            ". bloc2 ."
            ". bloc3 .";
    }

    .photos_aside img {
    width: 13rem;
    }

    .prix_aside {
    width: 15rem;
    }

    #more {
    justify-self: center;
    }

    .bloc_aside {
    width:auto;
    }

    #titre_aside {
    justify-content:center;
        
    }

    #icone_aside {
    margin-left:1rem;
    }

    .section2 {
        
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4rem 14rem 14rem;
    gap: 2rem;
    grid-template-areas:
        "titre titre ."
        "bloc1 bloc2 bloc3"
        "bloc4 bloc5 bloc6";
    padding: 2rem;
    margin-top:-2rem;

}

.image_longue img {
    height: 140px;
}

.image_longue {
    height: 210px;
}

.image_courte {
    height: 210px;
}

.image_courte img {
    height: 140px;
}


}


/* PHONE */

@media screen and (min-width:320px) and (max-width:600px) {  

    body {
    max-width:600px;
    }

    /* HEADER */

    #top_header {

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 0.7fr 1fr;
    grid-template-areas: "img . button"
                         "navbar navbar navbar"
                         "titre titre titre";
    align-items: center;
    justify-items: center;
        
    }

    nav {

    width:100%;
    display:flex; 
        
    }

    nav a {

    width:100%;
    margin: 0;
    border-bottom: 2px rgba(196, 192, 192, 0.24) solid;
    padding-bottom: 1rem;
    text-align: center;

    }

    nav a:hover {

    border-top:none;
    color:#0065FC;
    border-bottom: 2px solid #0065FC;

    }

    #titre_header {
    grid-area: titre;
    }   

    #bouton_txt {
    display:none;
    }
        
    i.bouton_loupe.fas.fa-search {
    color:white;
    }  
    
    #Fitres {
    margin-top:1rem;
    }

    #titre_filtres {
    width:100%;
    }

    .bloc {
    margin-right: 0.5rem;
    height:3rem;
    }

    .circle {
    height: 3rem;
    width: 2.85rem;
    }

    #circle2 {
    margin-right:0.5rem;
    }

    /* SECTION 1 */

    #hosting {

    display:flex;
    flex-direction:column-reverse;

    }

    article {

    display:flex;
    flex-direction:column;
    background-color: transparent;

    }

    aside {

    display:flex;
    flex-direction: column;
    border-radius:0;
    gap:2rem;
    padding:1.75rem;
    height:670px;

    }

    #titre_aside {
    margin-bottom:0;
    justify-content: center;
    }

    #icone_aside {
    margin-left:1rem;
    }

    .prix_aside {

    padding: 0 0.5rem 0 0.5rem;
    width:11rem;

    }

    .photos_aside img {
    width: 8rem;
    }

    /* SECTION 2 */

    .section2 {
        
    display:flex;
    flex-direction: column;
    row-gap:1.5rem;
    padding:2rem; 
    height:100%;
    margin-top:-3rem;
    
    }

    .image_longue {
    height: 200px;
    }
            
    .image_longue img {
    height:150px;
    }
            
    .image_courte {
    height: 200px;
    }
        
    .image_courte img {
    height: 150px;
    }
        
    /* FOOTER */

    footer {

    flex-direction: column;
    padding-left:2rem;
    border-radius: 0;

    }

}






