
/* Elements principaux de la page */  

.body {
    font-family: Raleway, sans-serif;
    margin-top:1rem;
    max-width:90rem;
    margin:auto; /* on centre le contenu de la page */

    padding-left:1rem; /* on fait en sorte que le contenu de body se décalle de la gauche en zoomant */
}


/* HEADER */

.header {

display: grid; /* on définit le header comme un conteneur grid */

grid-template-columns: auto 1fr auto auto; /* on créé 4 colonnes (logo + espace entre logo et nav + nav + sign up) et on définit leur size */
grid-template-areas: "logo . navbar button"; /* on aligne de gauche à droite : logo avec (nav + SignUp) */

align-items: center; /* on centre verticalement les éléments du conteneur */
justify-items:center;

}

#logo {

    grid-area: logo; /* permet de se servir de logo pour positionner le logo dans le header, grâce à grid-template-areas */
    height: 2.813rem;
}

#nav_header {

    grid-area: navbar; /* permet de se servir de navbar pour positionner nav_header dans le header, avec grid-template-areas */
    display: flex; /* on aligne horizontalement les liens dans nav_header */
    
}

#SignUp{
    
    grid-area: button; /* permet de se servir de button pour positionner SignUp dans le header, avec grid-template-areas */

    font-weight:bold;
    font-size:1.1rem;
    border-top: 0.19rem solid transparent;
    
}

#SignUp a {
   color:#0065FC;
}

.liseret_bleu{
    border-top: 0.19rem solid transparent;
}


.liseret_bleu:hover{
    color:#0065FC;
    border-top: 0.19rem solid #0065FC;
}

nav a {
    margin-right: 2rem; /* on espace les liens dans la nav */
    font-size:1.1rem;
}



/* MAIN */


#form {
    display:inline-flex; /* on aligne les enfants de form (map marker+ barre de recherche + bouton rechercher */
    overflow: auto; /* on empeche le contenu texte de sortir du bloc si y'a trop de texte (genre une ville avec un nom à rallonge) */
}

#map_marker {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem; /* on crée de l'espace entre le map_marker et son bloc conteneur de couleur gris */
    border-radius: 1rem 0 0 1rem;
}

#search_barre {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 0.06rem solid;
    border-bottom: #F2F2F2 0.06rem solid;
    font-size:1rem;
    padding: 0 1.5rem;
    box-sizing: border-box; /* on permet à la barre de recherche et au bouton de rester collés ensemble */
}

#bouton {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-size: 1rem;
}

#Filtres {
    display:flex; /* on aligne les filtres côte à côte pour qu'ils soient pas les uns sous les autres */
    margin-top:1.5rem;
    flex-wrap: wrap; /* permettre aux filtres de se placer en dessous quand ils dépassent la largeur de leur conteneur */
    }
    
#Label {
    margin-right:1rem;
    font-weight:bold;
    font-size:1.1rem;
    margin-top:1.2rem;
    }

.bloc {
    display:flex; /* on permet au texte de se positionner à côté de l'icône) */
    align-items: center; /* on aligne verticalement le texte avec l'icone */
    margin-right: 2rem;
    border: 0.13rem solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;    
    font-weight: bold;
    max-height:3.5rem; /* empecher div de grossir quand on zoom */
    min-height:3.5rem; /* empecher div de se réduire quand on zoom */
}

.bloc:hover {
    background-color:#f3f8ff;
    }
    
.circle {
  
    background-color: #DEEBFF;
    border-radius: 2rem;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem; /* empecher cercle de rétrécir en hauteur */
    min-width: 3.5rem; /* empecher cercle de rétrécir en largeur */

    display: flex; /* on rend le cercle flex pour pouvoir se servir d'align-items et justify-content pour centrer l'icone à l'intérieur*/
    align-items: center;
    justify-content: center;
}

i {
    color:#0065FC;
}

.txt {
    padding:1.3rem;
    font-size:1.1rem;
    white-space: nowrap; /* empeche le retour à la ligne d'un texte (même quand on zoom?) */
}


#Infos {
    display:flex; /* on met côte à côte les éléments (i infos + texte) dans la div Infos */
    align-items:center; /* on les centre verticalement dans la div */
    margin-bottom:1rem;
}

#circle2 {
    height: 2rem;
    width: 2rem;
    min-height: 2rem; /* empecher cercle de rétrécir en hauteur */
    min-width: 2rem; /* empecher cercle de rétrécir en largeur */
    border: solid 0.06rem #d9d9d9;
    border-radius: 2rem;

    display: flex; /* on rend le cercle flex pour pouvoir se servir d'align-items et justify-content pour centrer l'icone à l'intérieur */
    align-items: center;
    justify-content: center;
    margin-right: 1rem; /* on laisse 1rem d'espace entre le i cerclé et le texte qui suit */
}


/* SECTION 1*/


#hosting {
    display:grid;  /* on transforme la section en conteneur grid */
    column-gap: 2rem; /* on laisse 2rem d'espace en largeur entre le bloc hébergements et le bloc populaire */
    grid-template-columns: 6fr 3fr; /* on créé une colonne de 6fr et une colonne de 3fr, ce qui permet aux bloc hébergements et populaires de se mettre côte à côte */
}

/* ARTICLE */

#bloc_total_hebergements {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
    
    display: grid; /* on transforme l'élément en conteneur */
    column-gap: 2rem; /* on laisse 2rem d'espace en largeur entre les différents enfants du conteneur (ici les articles */
    row-gap: 2rem; /* on laisse 2rem d'espace en hauteur entre les différents enfants du conteneur (ici les articles */
    grid-template-columns: repeat(3, 1fr); /* on créé 3 colonnes de 1fr, les article se mettent côte à côte */
}

#titre_hebergements {
    margin:0; /* on enlève les marges */
    grid-column: 1/-1; /* on place l'élément en première ligne de la grille, et on fait s'afficher les autres éléments en dessous (ici permet de mettre les article sous le titre) */
}

.bloc_hebergements {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    box-sizing: border-box; /* la taille du bloc prend en compte les border, margin, et padding, si height élément = 100%, alors élément+border+margin+padding =100% avec box-sizing */
    height: 100%; 
}

.hebergements {
    margin:0; /* on enlève les marges autour de l'élément (ici on on enlève les marges entre la photo et son conteneur) */
}

.img_hebergements { 

    height: 9rem;
    object-fit: cover; /* on permet aux images de s'étendre à la bonne dimension, sans que le rendu visuel soit compressé */
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.infos_hebergements {
    margin: 0.25rem 0.75rem 0 0.75rem;
}

.prix_hebergements {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.stars {
    margin: 0 0.75rem 0.25rem 0.75rem;
}

#more {
    font-weight:bold;
}


/* ASIDE */


#bloc_total_populaires {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;

    display: grid;
    row-gap: 2rem;
    /*align-items: start;*/
    grid-template-rows: auto repeat(3, 1fr);
    
}

#titre_populaires {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.bloc_populaires {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    box-sizing: border-box;
    height: 100%;
}

.bloc_article {
    display: flex;
    /*align-items: stretch;*/
    height: 100%;
    overflow: auto;
    
}

.photos_populaires {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}


.img_populaires {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prix_populaires {
    display: flex;
    flex-direction: column;
    padding-left:1rem;
     
}

.white_space{
    flex: 1;
}


/* SECTION 2 */

.activity {
    
    display:grid;
    grid-template-columns: repeat(4, 1fr); /* on créé 4 fois une colonne de 1fr */

    column-gap: 2rem;

    grid-template-areas: "bloc1 bloc2 bloc4 bloc5" /* on dispose les éléments entre 4 colonnes et 2 lignes */
                         "bloc1 bloc3 bloc4 bloc6"; 

    text-align: center;

    height:30.625rem;
}

.bloc_activités1 {

    border-radius:1.25rem;
    box-shadow: 0 0 1rem #0000002e;

    height: 28.4rem;

    grid-area: bloc1;
    
}

.bloc_activités2 {
    
    border-radius:1.25rem;
    box-shadow: 0 0 1rem #0000002e;

    height: 13rem;

    grid-area: bloc2;
}

.bloc_activités3 {

    border-radius:1.25rem;
    box-shadow: 0 0 1rem #0000002e;

    height: 13rem;

    grid-area: bloc3;
}

.bloc_activités4 {

    border-radius:1.25rem;
    box-shadow: 0 0 1rem #0000002e;

    height: 28.4rem;
    
    grid-area: bloc4;
}

.bloc_activités5 {

    border-radius:1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    
    height: 13rem;
    
    grid-area: bloc5;
}

.bloc_activités6 {

    border-radius:1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    
    height: 13rem;
    
    grid-area: bloc6;
}

.img_activités1 {

    border-radius: 1rem 1rem 0 0;
    width:100%;
    height:24.5rem;
  
}

.img_activités2 {

    border-radius: 1rem 1rem 0 0;
    width:100%;
    height: 9.2rem;
  
}

.txt_activités {
    margin-top:1rem;
}

/* Footer */

footer {
    display:flex;
    justify-content:space-evenly;
    background-color:#F2F2F2;
    border-radius:1.25rem;
}

footer div {

    margin-right:10rem;

}


/* Couleurs et liens */

.i_color {
    color:black;  /* mettre nom de classe dans la balise de l'icone, juste après fa fa-star etc.. et entre les guillemets */
}


.i_color2 {
    color:#d9d9d9;
}

a {
    text-decoration: none;
    color:black;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1025px) {

    .body {
        border:1px solid green;
    }
   
}

@media screen and (min-width: 601px) and (max-width:1024px) {

    .body {

        max-width:1024px;
        margin:auto;
        border:1px solid blue;
    }
   
}


/* PHONE */

@media screen and (min-width:320px) and (max-width:600px) {  

    .body {
    
    max-width:600px;
    margin:auto;
    border: 1px solid red;

    }

    /* HEADER */

    .header {

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo . button" "navbar navbar navbar";
    
    }

    #nav_header {

    margin-top:1rem;
    justify-content:space-around;
    width:100%;
    
    }  

    nav a {
    margin:0;
    }

    .liseret_bleu:hover {

    color:#0065FC;
    border-bottom: 0.19rem solid #0065FC;
    border-top:none;

    }

    
    /* MAIN */

    /* MAIN - SECTION 1 */

    #Search {
    padding-left:2.7rem;
    }

    #search_barre{
        padding:0 1rem;
       
    }
    
    #bouton_txt {
    display:none;
    }
    
    i.bouton_loupe.fas.fa-search {
    color:white;
    }    

    #Filtres {
    flex-wrap:wrap;
    }

    #Label {
    width:100%;
    margin-top:0;        
    }

    .bloc {
    margin-right:1rem;
    }

    #circle2 {
    margin-right:0.5rem;
    }


    /* MAIN - SECTION 2 */

    #hosting {

    display:flex;
    flex-direction:column-reverse;

    }

    #bloc_total_hebergements {

    display:flex;
    flex-direction:column;
    background-color: transparent;

    }

    #bloc_total_populaires {

    flex-direction: column;
    border-radius:0;

    }

    #titre_activités {
    margin-left:2rem;
    }

    .activity {
        
    display:flex;
    flex-direction: column;
    row-gap:1.5rem;
    padding:2rem; /* espace entre les blocs photos et leur div, qui permet size le bloc en largeur */
    height:85rem;

    }

    .img_activités1 {

    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 9rem;
    object-fit: cover;

    }

    .img_activités2 {

    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 9rem;
    object-fit: cover;
  
    }

    .photos_activités {

    height:9rem;
    width:100%;

    }

    .bloc_activités1 {
    height: 13.125rem;   
    }

    .bloc_activités4 {
    height: 13.125rem;
    }

    /* MAIN - FOOTER */


    footer {
     flex-direction: column;
     padding-left:2rem;
     border-radius: 0;
    }


}






